body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    
    
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.header a.logo {
    font-size: 1.5em;
}

.header nav {
    display: flex;
    align-items: center;
}

.header nav a {
    margin-left: 20px;
    color: white;
}

.header nav a:hover {
    color: #ccc;
}

.content {
    padding: 20px;
}

.content h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.content p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.content a {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.content a:hover {
    background-color: #45a049;
}
.imagen img {
    height: 65px; /* Ajusta el tamaño verticalmente */
    width: auto; /* Mantiene la proporción de la imagen */
}